@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-btn {
    background-color: #1D4ED8;
    color: #fff;
    padding: 12px 41.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}


/* Start of Heder area Design */
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}

.navbar ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: #575757;
}
/* End of Navbar Design Area */

/* Start of Hero Area */

.hero-area{
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6)),
    url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-content h1{
    font-size: 4rem;
    padding-top: 136px;
    margin-bottom: 16px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.hero-content p{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 278px;
    color: #fff;
}
.hero-btn{
        padding-bottom: 80px;

}
#hero-btn{
    padding: 25px 62.5px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Start of Speakers Area Design */



/* End of Speakers Area Design */