@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

body img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-btn {
    background-color: #1D4ED8;
    color: #fff;
    padding: 12px 41.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}


/* Start of Heder area Design */
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}

.navbar ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: #575757;
}

/* End of Navbar Design Area */

/* Start of Hero Area */

.hero-area {
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
        url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 16px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.hero-content p {
    max-width: 600px;
    margin:0 auto 40px;
    /* margin-bottom: 278px; */
    color: #fff;
}

.hero-btn {
    margin-top: 200px;
}

#hero-btn {
    padding: 25px 62.5px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Start of Speakers Area Design */

.speakers-parent {
    margin-top: 80px;
}

.spakers-title {
    margin-bottom: 56px;
    color: #000102;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.speaker-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speaker-info img {
    border-radius: 10px;
}

.speakers {
    border: 1px solid #E5E7EB;
}

.speakers-content {
    margin: 24px;
    line-height: 30px;
}

.speakers-content h5 {
    color: #1D4ED8;
    font-weight: 600;
}

.speakers-content h3 {
    font-weight: 800;
    font-size: 1.25rem;
}

.speakers-content p {
    font-size: 0.875rem;
    color: #575757;
}

/* End of Speakers Area Design */


/* start of hakathon area design */


.hackathon{
    margin: 80px 0px;
}
.hackathon-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.hackathon-title {
    text-align: center;
    margin-bottom: 60px;
}

.hackathon-title h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.hackathon-title p{
    font-size: 18px;
    font-weight: 400;
    color:#575757;
}

.hackathon-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: stretch;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.card-hakathon {
    background-color: #1e2931;
    padding: 25px;
    border-radius: 12px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .15);
    backdrop-filter: blur(12px);
    border-radius: 16px;
}

.card-hakathon h3 {
    margin: 15px 0;
    font-size: 1.5rem;
}

.card-hakathon p {
    color: #cbd5e1;
    line-height: 1.6;
}

.icon {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn {
    /* display: inline-block; */
    background: #2563eb;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 25px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover {
    background: #1d4ed8;
}

/* End of hakathon Area Design */



/* Start of Pricing Section Design */

.pricing-spot {
    margin: 80px 0;
}

.spot {
    text-align: center;
    margin-bottom: 48px;
}

.spot h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.spot p {
    color: #575757;
    font-size: 1rem;
}

.card {
    border: 1px solid #E5E7EB;
    padding: 32px;
    border-radius: 10px;
}

.card p {
    color: #888888;
}

.card h3 {
    font-size: 2.75rem;
    color: #0D1B2A;
}

.card-price {
    margin-bottom: 41px;
}

.card ul {
    color: #888888;
    line-height: 30px;
    font-size: 0.875rem;
    padding-left: 16px;
}

.pricing-btn {
    margin-top: 20px;
}

.outline-btn {
    width: 100%;
    padding: 11px 0;
    background-color: #fff;
    color: #2563EB;
    font-weight: bold;
    border: 1px solid #2563EB;
    cursor: pointer;
    border-radius: 8px;
}

.pricing-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

hr {
    margin: 20px 0;
}


#pro-card {
    background-color: #0D1B2A;
    border-radius: 10px;
}

#pro-price span {
    color: #93C5FD;
}

#pro-price h3 {
    color: #fff;
}

#pro-card ul {
    color: #eae9e9c5;
}

#common-btn {
    width: 100%;
}

/* End of Pricing Section Design */

/* Start of Footer Area Design */

footer {
    background-color: #0D1B2A;
    width: 100%;
}

img {
    width: 100%;
}

.footer-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footer-left img {
    width: 125%;
}

.footer-right {
    color: #fff;
}

.footer-right i {
    font-size: 2rem;
}

.footer-hr {
    color: gold;
    padding: 20px 0px;
}

.copy {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

/* End of Footer Area Design */